.container {
  height: 180px;
  width: 180px;
  border: 1px solid #e9e9e9;
  border-radius: 20px;
  display: inline-block;
  float: right;
  margin: 5px; }

.container:hover {
  background-color: #1fb8ea;
  box-shadow: 2px 5px 5px #888888;
  border: 0px; }

.container:nth-child(2):hover {
  background-color: red;
  box-shadow: 2px 5px 5px #888888;
  border: 0px; }

.container:nth-child(2):hover ~ .container {
  background-color: #f26666; }

.container:hover ~ .container {
  background-color: #ADD8E6; }

#heart:hover .container {
  background-color: red; }

.container:hover #heart:before {
  background-color: white; }

.container:hover #heart:after {
  background-color: white; }

.container:hover #star:before {
  border-bottom: 90px solid white; }

.container:hover #star:after {
  border-bottom: 50px solid white; }

.container:hover #star {
  border-bottom: 50px solid white; }

#star {
  top: 10px;
  width: 0;
  height: 0;
  left: 20px;
  margin: 50px 0;
  color: #fc2e5a;
  position: relative;
  display: inline-block;
  border-right: 70px solid transparent;
  border-bottom: 50px solid #e9e9e9;
  border-left: 70px solid transparent;
  -moz-transform: rotate(35deg);
  -webkit-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  -o-transform: rotate(35deg); }

#star:before {
  height: 0;
  width: 0;
  position: absolute;
  display: block;
  top: -45px;
  left: -45px;
  border-bottom: 90px solid #e9e9e9;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  content: '';
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  -o-transform: rotate(-35deg); }

#star:after {
  content: '';
  width: 0;
  height: 0;
  position: absolute;
  display: block;
  top: 0px;
  left: -70px;
  color: #e9e9e9;
  border-right: 70px solid transparent;
  border-bottom: 50px solid #e9e9e9;
  border-left: 70px solid transparent;
  -webkit-transform: rotate(-70deg);
  -moz-transform: rotate(-70deg);
  -ms-transform: rotate(-70deg);
  -o-transform: rotate(-70deg); }

#heart {
  position: relative;
  display: inline-block;
  width: 0px;
  height: 90px; }

#heart:before, #heart:after {
  position: absolute;
  content: "";
  left: 90px;
  top: 2em;
  width: 5em;
  height: 8em;
  background: #D3D3D3;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%; }

#heart:after {
  left: 10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%;
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%;
  transform-origin: 100% 100%; }

/*# sourceMappingURL=style.css.map */
